.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  list-style: none;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(32, 32, 32);
  color: white;
}

.logo,
.about,
.users {
  color: inherit;
  text-decoration: none;
}

.users-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 1000px;
  flex-wrap: wrap;
}

.users-cont img {
  width: 200px;
}

.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
