.boton-clear {
   user-select: none;
   height: 80px;
   margin: 9px 4px;
   font-size: 1.6em;
   display: flex;
   flex: 1;
   background-color: rgb(197, 5, 5);
   color: rgb(204, 204, 204);
   margin-top: 9px;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   border: 2px solid white;
   cursor: pointer;
   border-radius: 10px;
}

.boton-clear:hover {
   background-color: rgb(230, 38, 38);
   color: rgb(250, 250, 250);
}
