.input {
   height: 75px;
   border-radius: 10px;
   margin-bottom: 20px;
   margin: 20px 8px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 30px;
   font-weight: bold;
   color: rgb(37, 30, 30);
   background-color: rgb(211, 160, 118);
   padding: 11px;
   padding-right: 30px;
   margin: 1px solid #888;
   box-shadow: -1px 4px 1px 1px rgb(70, 60, 60);
}
