.contador {
   min-width: 510px;
   height: 300px;
   font-size: 160px;
   padding: 25px;
   color: rgb(247, 33, 33);
   display: flex;
   align-items: center;
   justify-content: center;
   border: 8px solid rgb(252, 181, 49);
   border-radius: 5px;
   margin-bottom: 15px;
}
