.all-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  margin: auto;
}

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  
}

@media screen and (min-width: 700px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  } 
}

@media screen and (min-width: 850px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid#e7e7e7;
  padding: 12px;
}

.item:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.item img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  object-fit: cover;
}

.item p {
  max-height: 90px;
}

.price {
  font-weight: 600;
}

.boton-comprar {
  width: 90px;
  height: 30px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: #bc217c;
  border: 0;
  border-radius: 8px;
}

.boton-comprar:hover {
  background-color: #bb5490;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boton-favoritos {
  width: 88px;
  height: 30px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  background-color: #bc217c;
  border: 0;
  border-radius: 8px;
}

.boton-favoritos:hover {
  background-color: #bb5490;
}
